{% extends 'foos/base.html' %}
{% load staticfiles %}

{% block content %}
  <div id="mainMain">
    <div id="tourneyList">
    {% for tourney in tourney_list %}
      {% if not tourney.spots_open == 0 %}
      <p><a href="{% url 'tourney_detail' tourney.id %}">{{ tourney.name }}</a></p>
      <p class="spots">Spots Open: {{ tourney.spots_open }}</p>
      <h3>Current Players</h3>
      <ul class="player_list">
      {% for player in tourney.players.all %}
          <li>{{ player.name }}</li>
      {% endfor %}
      </ul>

      <form action="{% url 'list_tourneys' %}?num={{ tourney.id }}" method="post">
          {% csrf_token %}
          <label for="your_name">Name to sign up: </label>
          <input class="add" type="text" name="player" placeholder="Enter Name" >
          <input class="submit" type="submit" value="ADD">
      </form>
      <hr>
      {% else %}
          <p><a href="{% url 'tourney_detail' tourney.id %}">{{ tourney.name }}</a></p>
          {% if tourney.is_running %}
              <p id="color"><a href="{% url 'tourney_detail' tourney.id %}">IN PROGRESS</a></p>
          {% endif %}
          <p class="tourneyWinner">Winner: {{ tourney.winner }}</p>
          <hr>
      {% endif %}
    {% endfor %}
      {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a href="{% url 'list_tourneys' %}?page={{ page_obj.previous_page_number }}"><-Prev</a>
        {% endif %}
        {{ page_obj }}
        {% if page_obj.has_next %}
            <a href="{% url 'list_tourneys' %}?page={{ page_obj.next_page_number }}">Next -></a>
        {% endif %}
    {% endif %}
    </div>
  </div>
{% endblock %}